body {
  background-image: url(http://i.imgur.com/K3mPv14.jpg);
  width: 100%;
  height: 100%;
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
 
  position: absolute;
}

#main-header {
  z-index: 1;
  position: relative;
  text-align: center;
  padding-top: 40vh;
}

#main-header h1 {
  color: #fff;
}

.myimage {
  background-image: url(http://i.imgur.com/K3mPv14.jpg); 
  background-color: #cccccc; 
  width: 100%;
  height: 100%;
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
  position: absolute;
}
